@import "tailwindcss";

/*nav {
    background: url('/src/assets/giphy-gif.gif');
    background-repeat: repeat-x;
    background-attachment: fixed; 
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center;
}
*/




body {
    background-color: #cdd6db;
}


@font-face {
    font-family: 'Ocean Twelve';
    src: url('/src/assets/fonts/OceanTwelve.ttf') format('truetype'); 
}


.ocean-twelve {
    font-family: 'Ocean Twelve', sans-serif;
}