<nav class="bg-blue-500 flex justify-around p-4 rounded-lg"> 
    <div class="text-xl font-bold"> Aqua Nets</div>
    
    <div class="text-right font-bold space-x-5">
            <a href="index.html">Home </a>
            <a href="water pollution.html">Water Pollution  </a>
            <a href="Other solutions.html">Other Solutions </a>  
            <a href="possible solutions.html">Our Solutions </a>
            <a href="contact.html">Contact </a>
            <a href="reviews.html">Reviews</a>
    </div>
</nav>