<nav class="bg-blue-500 rounded-lg mx-2 my-auto p-1 pt-0.5">
   
    <ul class="flex justify-center gap-x-7 mt-4">
        <li class="hover:bg-yellow-100 p-3 rounded-md">
            <a class="text-black font-bold" href="index.html">Aqua Nets</a>
        </li>
        <li class="hover:bg-yellow-100 p-3 rounded-md">
            <a class="text-black font-bold" href="waterpollution.html">Water Pollution</a>
        </li>
        <li class="hover:bg-yellow-100 p-3 rounded-md">
            <a class="text-black font-bold" href="ourtake.html">Our Take</a>
        </li>
        <li class="hover:bg-yellow-100 p-3 rounded-md">
            <a class="text-black font-bold" href="contactpage.html">Contact</a>
        </li>
    </ul>
</nav>