<nav class="bg-blue-500 rounded-lg mr-25 ml-25 m-auto"> 
    <!-- <div class="text-xl font-bold"> Aqua Nets</div> -->
    
    <div class="font-bold">
        <ul class="list-none overflow-hidden space-x-7 text-center">
            <li class="hover:bg-yellow-100 float-left p-5"> <a class="text-center" href="index.html">Aqua Nets </a> </li>
            <li class="hover:bg-yellow-100 float-left p-5"> <a class="text-center" href="waterpollution.html">Water Pollution  </a> </li>
            <li class="hover:bg-yellow-100 float-left p-5"> <a class="text-center" href="">Our Take </a> </li>
            <li class="hover:bg-yellow-100 float-left p-5"> <a class="text-center" href="contactpage.html">Contact </a> </li>
            <li class="hover:bg-yellow-100 float-left p-5"> <a class="text-center" href=""></a> </li>
        </ul>
    </div>
</nav> 